<h1>Orders</h1>

<% if notice %>
  <p style="color: green"><%= notice %></p>
<% end %>

<%= link_to "New Order", new_order_path %>

<table>
  <tr>
    <th>Description</th>
    <th>Status</th>
  </tr>
  <% @orders.each do |order| %>
    <tr>
      <td><%= order.description %></td>
      <td><%= order.status %></td>
    </tr>
  <% end %>
</table>