<h1>New Order</h1>

<%= form_with model: @order do |f| %>
  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <br>
  <div>
    <%= f.submit "Place Order" %>
  </div>
<% end %>